.composition {
    position: relative;
    width: 600px;
    height: 400px;
    background: url("bg.jpg");
    }
    
    .planet1 {
        position: absolute;
        bottom: 250px;
        left: 190px;
    }
    
    .planet2 {
        position: absolute;
        top: 60px;
        left: 50px;
    }
    
    .planet3 {
        position: absolute;
        top: 150px;
        left: 120px;
    }
    
    .asteroid {
       position: absolute; 
       top: 80px;
       right: 100px;
    }
    
    .spaceship {
        position: absolute;
        top: 160px;
        left: 125px;
    }
    
    .ufo {
        position: absolute;
        bottom: 60px;
        left: 70px;
    }
    
    .superman {
        position: absolute;
        bottom: 2px;
        right: 40px;
    }
    