.bg {
    position: static;
}

.asteroid {
    position: relative;
    right: 175px;
    bottom: 260px;
}

.superman {
    position: relative;
    right: 180px;
}

.planet1 {
    position: relative;
    right: 570px;
    bottom: 265px;
}

.planet2 {
    position: relative;
    right: 820px;
    bottom: 170px; 
}

.spaceship {
    position: relative;
    right: 900px;
    bottom: 200px; 
}

.planet3 {
    position: relative;
    right: 950px;
    bottom: 14px; 
}

.ufo {
    position: relative;
    right: 1225px;
    bottom: 50px; 
}
