* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_89 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_190 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_8 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 187px;
  left: 798px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v8_3 {
  width: 100%;
  height: 814px;
  background: url("../images/v8_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 0px;
  overflow: hidden;
}
.v4_62 {
  width: 688px;
  height: 80px;
  background: url("../images/v4_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 1157px;
  overflow: hidden;
}
.v3_231 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 310px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_234 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 526px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v4_79 {
  width: 250px;
  height: 80px;
  background: url("../images/v4_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_233 {
  width: 250px;
  height: 80px;
  background: rgba(66,107,31,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-style: solid;
  border-color: rgba(66,107,31,1);
  border-radius: 10px;
}
.v3_230 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v8_5 {
  width: 802px;
  height: 445px;
  background: url("../images/v8_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 635px;
  left: 41px;
  overflow: hidden;
}
.v8_6 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 352px;
  left: 363px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
