* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_88 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_107 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_105 {
  width: 185px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 239px;
  left: 109px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_65 {
  width: 644px;
  height: 80px;
  background: url("../images/v4_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 1209px;
  overflow: hidden;
}
.v3_147 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_151 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 482px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_189 {
  width: 250px;
  height: 80px;
  background: url("../images/v3_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 196px;
  overflow: hidden;
}
.v3_150 {
  width: 250px;
  height: 80px;
  background: rgba(66,107,31,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_148 {
  width: 156px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 47px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v4_104 {
  width: 100%;
  height: 650px;
  background: url("../images/v4_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 341px;
  left: 109px;
  overflow: hidden;
}
.v4_99 {
  width: 390px;
  height: 650px;
  background: url("../images/v4_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_153 {
  width: 390px;
  height: 650px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_118 {
  width: 359px;
  height: 359px;
  background: url("../images/v3_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_158 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 379px;
  left: 135px;
  font-family: Montserrat Subrayada;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3_164 {
  width: 130px;
  color: rgba(66,107,31,1);
  position: absolute;
  top: 424px;
  left: 130px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v4_101 {
  width: 142px;
  height: 29px;
  background: url("../images/v4_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 124px;
  overflow: hidden;
}
.v3_176 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 27px;
  font-family: Lacquer;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_179 {
  width: 19px;
  height: 29px;
  background: url("../images/v3_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_97 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 531px;
  left: 20px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_100 {
  width: 390px;
  height: 650px;
  background: url("../images/v4_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 494px;
  overflow: hidden;
}
.v3_156 {
  width: 390px;
  height: 650px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_119 {
  width: 359px;
  height: 359px;
  background: url("../images/v3_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_160 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 379px;
  left: 114px;
  font-family: Montserrat Subrayada;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3_166 {
  width: 125px;
  color: rgba(66,107,31,1);
  position: absolute;
  top: 424px;
  left: 132px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v3_181 {
  width: 102px;
  height: 29px;
  background: url("../images/v3_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 144px;
  overflow: hidden;
}
.v3_182 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 27px;
  font-family: Lacquer;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_183 {
  width: 19px;
  height: 29px;
  background: url("../images/v3_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_98 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 20px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_103 {
  width: 390px;
  height: 650px;
  background: url("../images/v4_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 988px;
  overflow: hidden;
}
.v3_154 {
  width: 390px;
  height: 650px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_120 {
  width: 359px;
  height: 359px;
  background: url("../images/v3_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_162 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 380px;
  left: 143px;
  font-family: Montserrat Subrayada;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3_171 {
  width: 130px;
  color: rgba(66,107,31,1);
  position: absolute;
  top: 424px;
  left: 130px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v3_185 {
  width: 113px;
  height: 29px;
  background: url("../images/v3_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 138px;
  overflow: hidden;
}
.v3_186 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 27px;
  font-family: Lacquer;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_187 {
  width: 19px;
  height: 29px;
  background: url("../images/v3_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_102 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 524px;
  left: 20px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
